{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block body %}
  <h1>About Me</h1>
  <h2>Dear Parents,</h2>
  <p>Thank you for your interest in my new project!

    As many of you guys know, I'm originally from Brazil and I am currently a full time nanny with a great passion for my job as a childcare. 
    
    I've been working with children for about 5 years now and I also have a large experience of 10 years being an Executive Administrative Assistant in my home town.
    
    Due my large experience as a nanny,  I realized how hard it is to be a full time parent  and also have to manage a full time job. 
    
    Therefore, I decided I want to match my experiences, passion, and love for kids, with my loved professional career.
    
    
    
    I have a bachelorette degree in Brazil as Trilingual Executive Secretariat (Portuguese - Spanish - English) and also a post graduation in Business Management at one of the top Business School in Brazil. 
    
    I have worked in big companies as an Administrative assistant, Executive Assistant and Office Assistant. So, I would love to connect my experiences as an professional assistant and experienced nanny while being able to help busy parents around the world.
    
    
    
    That being said, besides being Available for babysitting your loved one, I am also available to help you out being your new Personal Assistant! 
    
    If you would like to know more information about it, feel free to contact me or check my experiences and references on LINKEDIN and URBANSITTER .
    
    I hope I can help you to bring organization and free time for your busy schedule as a parent.</p>

    <a href="https://www.linkedin.com/in/dayanna-silva-811b4979/" target="_blank">LINKEDIN</a>
    <a href="https://www.urbansitter.com/sitter/2945819" target="_blank">URBANSITTER</a>
    <a href="mailto:ihelpbusyparents@gmail.com">Email me</a>
    <a href="tel:+16503092086">Call Me at 650-309-2086</a>



{% endblock %}