{% extends 'base.html' %}
{% block title %}How It Works{% endblock %}

{% block body %}
  <h1>How it works?</h1>
  <p>Simple! Download the 'Trello' app and add your tasks list. Right after , you can easily share it with me by adding my email, this way we can both be on the same page and you will  be able to track every detail and update . You will also be able to add any additional information and get notifications when the task is done. 

    Too busy for all of that? No problem! You can just easily e-mail or text me your task list. 
    
    Whatever works best through out your busy day!</p>

  <a href="https://trello.com/home" target="_blank">Trello</a>



{% endblock %}