{% extends 'base.html' %}
{% block title %}Pricing{% endblock %}

{% block body %}
  <h1>Packages with prices</h1>

  <table>
    <tr>
      <th>Option 1</th>
      <th>Option 2</th>
      <th>Person 3</th>
    </tr>
    <tr>
      <td>Task 1</td>
      <td>Task 1</td>
      <td>Task 1</td>
    </tr>
    <tr>
      <td>Task 2</td>
      <td>Task 2</td>
      <td>Task 2</td>
    </tr>
    <tr>
      <td>Task 3</td>
      <td>Task 3</td>
      <td>Task 3</td>
    </tr>
    <tr>
        <td>$0000</td>
        <td>$0000</td>
        <td>$0000</td>
      </tr>

  </table>



{% endblock %}