{% extends 'base.html' %}
{% block title %}Services{% endblock %}

{% block body %}
  <h1>Services</h1>
  <h2>House Assistance</h2>
  <ul>
    <li>Run small family errands </li>
    <li>Online shopping for Christmas and birthday presents</li>
    <li>Help set up and take down birthday parties</li>
    <li>Help decorate your home for holidays</li>
    <li>Help plan for family or guests coming during the holidays</li>
    <li>Set up catering for parties, events or holidays</li>
    <li>Help with home and office secretarial assistant</li>
    <li>Send Thank you cards and birthday cards to families and friends</li>
    <li>Exchange/Return items to stores</li>
    <li>Take items to donate</li>
  </ul>

  <br>
  <h2>Assistance with kids</h2>
  <ul>
    <li>Spreadsheet with kids extracurricular activities</li>
    <li>Enroll kids in extracurricular activitie</li>
    <li>Schedule summer camps</li>
    <li>Pick up  items from pharmacies</li>
    <li>Order Library books</li>
    <li>Order items online</li>
    <li>Post items to sell and buy online</li>
    <li>Manage Calendars, schedules, family meetings, school meetings, and family events.</li>
  </ul>

  <br>
  <h2>Others</h2>
  <ul>
    <li>Plan travel, accommodation, flights, and ground transportation</li>
    <li>Confirm and book restaurant reservations.</li>
    <li>Draft correspondence such as emails and letters</li>
    <li>Get car washed</li>
    <li>Research Specialized Purchases</li>
    <li>Research Information for Family Vacations</li>
    <li>Reviewing family photos as needed</li>  
    <li>Social Media Management</li>

  </ul>




{% endblock %}